<span class="flex flex-row justify-center mt-8">
  <mat-button-toggle-group value="1">
    <mat-button-toggle value="1" class="w-48" (click)="changeOption('list')">
      <mat-icon>list</mat-icon>
      widok listy
    </mat-button-toggle>
    <mat-button-toggle value="2" class="w-48" (click)="changeOption('tails')">
      widok kafelków
      <mat-icon>view_module</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</span>

@if(option == 'list'){
  <da-members-list />
}
@else{
  <da-members-tails />
}
