<!-- <header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-blue-400 to-blue-950">
    <div class="flex">

    </div>

</header> -->

<span class="w-full fixed top-0 bg-gradient-to-r from-blue-400 to-blue-950">
    <mat-toolbar>
        <!-- <button matIconButton>
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="flex-auto"></span>
        <button matIconButton>
            <mat-icon class="color-white">favorite</mat-icon>
        </button>
        <button matIconButton>
            <mat-icon class="color-white">share</mat-icon>
        </button> -->

        <div class="flex align-middle items-center px-10 mx-auto gap-6 w-full justify-between">
            <a class="max-h-16 text-white border-r-white border-r-2 pr-6">Dating app</a>
            <nav class="flex gap-3 my-2 uppercase text-lg text-white">
                <a>Matches</a>
                <a>Lists</a>
                <a>Messages</a>
            </nav>
            <div class="flex align-middle ml-auto gap-3 h-full">
                <form class="flex items-center align-middle gap-3">
                    <mat-form-field class="small" subscriptSizing="dynamic">
                        <input type="email" matInput placeholder="email">
                    </mat-form-field>
                    <mat-form-field class="small" subscriptSizing="dynamic">
                        <input type="password" matInput placeholder="password">
                    </mat-form-field>
                    <button matButton="outlined" class="!text-white !border-white">Login</button>
                </form>
            </div>
        </div>
    </mat-toolbar>

</span>