.message-bubble.send {
  background-color: #ffffff;
}

.message-bubble.send::before {
  content: '';
  position: absolute;
  top: 17px;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 13px solid #d9d9d9;
}

.message-bubble.send::after {
  content: '';
  position: absolute;
  top: 18px;
  left: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #ffffff;
}

.message-bubble.answer {
  background-color: #a8c7b1;
}

.message-bubble.answer::after {
  content: '';
  position: absolute;
  top: 18px;
  right: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 11px solid #a8c7b1;
}
