

@if(paginatedMembers$ | async; as paginatedResult){
  @if(paginatedResult.metadata; as metadata){
    <da-paginator
      [pageNumber]="metadata.currentPage"
      [totalCount]="metadata.totalCount"
      [pageSize]="metadata.pageSize"
      [totalPages]="metadata.totalPages"
      (pageChanged)="onPageChange($event)"
    />
  }



  @if(paginatedResult.items; as members){
  <div class="flex flex-col items-center lg:grid lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5 gap-6">
    @for(member of members; track member.id ){
      <da-member-tail [member]=member />
    }
  </div>
  }
}
