@if(paginatedMembers(); as paginatedResult){
 <div class="flex flex-row items-center justify-between mx-15 my-8">
    <span class="flex flex-row gap-3 items-center">
      <button matButton="outlined" (click)="openDialog()" >Dodaj filtry</button>
      <button matButton="outlined" (click)="resetFilters()">Resetuj filtry</button>
      <div class="text-lg py-2 px-4 border-1 rounded-lg capitalize">
        {{displayMessage}}
      </div>
    </span>
    <span>
    @if(paginatedResult.metadata; as metadata){
    <da-paginator
      [pageNumber]="metadata.currentPage"
      [totalCount]="metadata.totalCount"
      [pageSize]="metadata.pageSize"
      [totalPages]="metadata.totalPages"
      (pageChanged)="onPageChange($event)"
    />
  }
  </span>
 </div>

  @if(paginatedResult.items; as members){
  <div class="flex flex-col items-center lg:grid lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5 gap-6">
    @for(member of members; track member.id ){
      <da-member-tail [member]=member />
    }
  </div>
  }
}
